<div>
    <h4>Create</h4>
    <form [formGroup]="propiertyForm" (ngSubmit)="onSubmit()">
        <div >
            <label>Name</label>
            <input type="text" formControlName="propertyName" class="form-control" maxlength="250">
        </div>
        <div>
            <label>Owner</label>
            <textarea class="form-control" formControlName="propertyOwner" maxlength="250"></textarea>
        </div>
        <div>
            <label>Location</label>
            <input type="text" formControlName="propertyLocation" maxlength="250" class="form-control">
        </div>
        <div>
            <label>Price</label>
            <input type="text" formControlName="propertyPrice" class="form-control" maxlength="20">
        </div>
        <p>&nbsp;</p>
        <button type="submit" class="btn btn-success">Submit</button>
       
    </form>
</div>